/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-content{
    max-width: 720px;
    margin:auto;
}

.mat-form-field-infix{
    width: 500px !important;
}